@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

:root {
  --first-color: rgb(107, 26, 29);
  --first-alpha-color: rgba(107, 26, 29, 0.75);
  --second-color: rgb(169, 64, 71);
  --second-alpha-color: rgba(169, 64, 71, 0.75);
  --third-color: rgb(248, 162, 176);
  --third-alpha-color: rgba(248, 162, 176, 0.75);
  --fourth-color: rgb(228, 206, 219);
  --fourth-alpha-color: rgba(228, 206, 219, 0.75);
  --fifth-color: rgb(224, 93, 96);
  --fifth-alpha-color: rgba(224, 93, 96, 0.75);
  --white-color: rgb(220, 220, 220);
}

/* Reset styles */
body {
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
}

body {
  background-color: var(--white-color);
}
/* Navbar */
.navbar {
  display: block;
  height: auto;
  background-color: var(--first-color);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.58);
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.fixedTop {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}
.nav-link,
.navbar-brand {
  color: var(--white-color);
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  outline: 0;
  border-bottom: solid 1px transparent;
  -webkit-transition: color .2s ease-out, border-bottom-color .2s ease-out;
     -moz-transition: color .2s ease-out, border-bottom-color .2s ease-out;
      -ms-transition: color .2s ease-out, border-bottom-color .2s ease-out;
       -o-transition: color .2s ease-out, border-bottom-color .2s ease-out;
          transition: color .2s ease-out, border-bottom-color .2s ease-out;
}
.nav-link:hover{
  
  border-bottom: solid 1px white;
  color: white;
}

.navbar-toggler {
  background-color: var(--fourth-color);
}
.hideNavbarMobile {
  display: none;
}
.hideForm {
  display: none;
}
.logoIpn {
  width: 4rem;
  border-radius: 50%;
}
.logoIpn:hover {
  filter: drop-shadow(0 0 10px rgba(240, 231, 231, 0.5));
}
.iconosCarritoLogin {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1300px) {
  .navbar {
    display: flex;
  }
  footer {
    display: none;
  }
  .navList {
    list-style: none;
    margin-top: 3rem;
  }
  .offcanvas {
    background-color: var(--fifth-alpha-color);
  }
}

@media (max-width: 1300px) {
  .navbar-nav {
    display: none;
  }
  .hideForm {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
/* Cards */
main {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--first-color);
  color: var(--white-color);
  text-align: center;
}
footer .row {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.liksFooter {
  display: flex;
  justify-content: space-evenly;
}
.footerContainer {
  display: block;
  height: 3rem;
  box-shadow: 0px -3px 5px -1px rgba(0, 0, 0, 0.49);
}

.yhover:hover {
  filter:drop-shadow( 0 0 20px rgb(254, 254, 254));
  
}


.btn-primary {
  background-color: var(--first-color)!important;
  outline: var(--first-alpha-color);
  border: none!important;
}

.btn-primary:hover {
  background-color: rgb(146, 43, 33) !important;
  border: none!important;
}
