:root {
  --first-color: rgb(107, 26, 29);
  --first-alpha-color: rgba(107, 26, 29, 0.75);
  --second-color: rgb(169, 64, 71);
  --second-alpha-color: rgba(169, 64, 71, 0.75);
  --third-color: rgb(248, 162, 176);
  --third-alpha-color: rgba(248, 162, 176, 0.75);
  --fourth-color: rgb(228, 206, 219);
  --fourth-alpha-color: rgba(228, 206, 219, 0.75);
  --fifth-color: rgb(224, 93, 96);
  --fifth-alpha-color: rgba(224, 93, 96, 0.75);
  --white-color: rgb(220, 220, 220);
}
#registro {
  border-radius: 5%;
  background-color: var(--first-alpha-color);
  width: auto;
  justify-content: center;
  width: 800px;
  border: none !important;
  margin-top: 150px;
}

#formSend {
  justify-content: center;
  display: flex;
  border: none !important;
}

#formularioIngreso {
  width: fit-content;
  margin: 500px;
  border: none !important;
}

h1 {
  color: white;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
p {
  color: white;
  text-align: center;
}

.form-label {
  color: white;
}

@media (max-width: 768px) {
  #formSend {
    justify-content: center;
    display: flex;
    width: auto;
    border: none !important;
  }
  #registro {
    border-radius: 0;
    color: black;
    width: auto;
    justify-content: center;
    border: none !important;
  }

  h1 {
    color: white;
  }
  p {
    color: white;
  }
}
.colorCheckbox {
  font-size: 1rem;
  color: white;
}

#btnConfirm,
#btnBorrar {
  border: none;
}
.correoExistente {
  text-align: center;
  color: rgba(255, 0, 0, 0.911);
  display: none;
}
.radioInput {
  border: 1px solid white;
  background-color: rgb(230, 229, 229);
  border-radius: 5px;
}
input {
  max-width: 98%;
}
